body {
  height: 100vh;
  background: radial-gradient(ellipse, rgb(137, 21, 126), rgb(37, 6, 43));
  filter: brightness(10px);
  display: grid;
  align-items: center;
  justify-items: center;
}

*{
  border: 1px solid red;
}