@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

body {
  --clr1: 4, 12, 32;
  --clr2: 26, 18, 49;
  --test: rgb(26, 18, 49);

  min-height: 100vh;
  background: linear-gradient(rgb(var(--clr1)) 30%, rgb(var(--clr2)));
  filter: brightness(10px);
  display: grid;
  align-items: center;
  justify-items: center;

  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(165, 167, 218);
}

#generator {
--height: 80svh;

  position: relative;
  height: var(--height);
  aspect-ratio: 3/4;
  padding: 1rem;

  border-radius: 20px;
  background: linear-gradient(rgb(var(--clr2)), rgb(var(--clr1), 90%));
  box-shadow: 0 15px 25px rgba(0,0,0,.7);
}

#generator::before {
  content: "";
  width: 101%;
  height: 101%;
  inset: -0.5%;
  border-radius: inherit;
  background-image: linear-gradient(
    var(--rotate)
    , rgb(var(--clr1)), rgb(var(--clr2)) 43%, #2f1f7e);
  position: absolute;
  z-index: -1;
  animation: spin 4s linear infinite;
}

#generator::after {
  --size: 70%;

  position: absolute;
  content: "";
  inset: calc((100% - var(--size)) / 2);
  z-index: -1;
  height: var(--size);
  width: var(--size);
  filter: blur(calc(var(--height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    rgb(var(--clr1)), rgb(var(--clr2)) 43%, #2f1f7e);
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@media (prefers-reduced-motion) {
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 0deg;
    }
  }
}
