@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

html {
  --clr1: 4, 12, 32;
  --clr2: 26, 18, 49;
  --clr-text: 193, 195, 255;

  min-height: 100vh;
  background: linear-gradient(315deg, rgb(var(--clr1)) 30%, rgb(var(--clr2)));
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-items: center;
}

* {
  /* border: 1px solid red; */
}

/* Main card */

#generator {
--height: 80svh;

display: grid;
grid-template-rows: 2fr 1fr 6fr;
align-items: center;
justify-items: center;

  position: relative;
  height: var(--height);
  max-height: 90svh;
  aspect-ratio: 3/4;
  max-width: 90vw;
  padding: 1rem;

  border-radius: 20px;
  outline: solid 1px rgb(var(--clr-text), .3);
  background: linear-gradient(rgb(var(--clr2)), rgb(var(--clr1), 30%));
  box-shadow: 0 15px 25px rgba(0,0,0,.7);
}

#generator::before {
  --effect-size: 7px;

  content: "";
  width: calc(100% + var(--effect-size));
  height: calc(100% + var(--effect-size));
  inset: calc(var(--effect-size) / -2);
  border-radius: inherit;
  background-image: linear-gradient(
    var(--rotate)
    , rgb(var(--clr1)), rgb(var(--clr2)) 43%, #2f1f7e);
  position: absolute;
  z-index: -1;
  animation: spin 4s linear infinite;
}

#generator::after {
  --size: 70%;

  position: absolute;
  content: "";
  inset: calc((100% - var(--size)) / 2);
  z-index: -1;
  height: var(--size);
  width: var(--size);
  filter: blur(calc(var(--height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    rgb(var(--clr1)), rgb(var(--clr2)) 43%, #2f1f7e);
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@media (prefers-reduced-motion) {
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 0deg;
    }
  }
}

/* Form layout */

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr 1fr 2fr;
  justify-content: center;
  gap: 1rem;
  
  width: 95%;
}

form+div {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: rgb(var(--clr-text));
  text-shadow: 
    0 0 20px rgba(255, 255, 255, 0.4);
  border-bottom: 1px radial-gradi;
}

div > h3 {
  position: relative;
}

div > h3::before {
  content: '';
  position: absolute;
  inset: -100% -25%;

  height: 1px;
  width: 150%;
  background: linear-gradient(90deg, transparent, rgb(255, 255, 255, .3), transparent);
}

div > h3::after {
  content: '';
  position: absolute;
  inset: 200% -25%;

  height: 1px;
  width: 150%;
  background: linear-gradient(90deg, transparent, rgb(255, 255, 255, .3), transparent);
}

/* Form elements */

.checkboxes-wrapper{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

label:has(input[type='checkbox']){
  display: flex;
  align-items: center;
}

@media (max-width: 450px) {
  .checkboxes-wrapper {
    grid-template-columns: 1fr;
  }
  label:has(input[type='checkbox']) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  h1 {
    text-transform: none;
  }

}

button, input[type='text'] {
	border: solid 1px rgb(var(--clr1));
  border-radius: 5px;
	cursor: pointer;
  background-color: rgb(var(--clr-text), .2);
  -webkit-backdrop-filter: blur(20px) ;
          backdrop-filter: blur(20px) ;
}

.length-selector{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#password-area {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

#password-display {
  cursor: text;
  text-align: center;
  font-weight: 700;
  font-size: clamp(1rem, 1.2rem, 2rem);
  border-radius: 6px 3px 3px 6px;
}

#copy-button {
  cursor: copy;
  border-radius: 3px 6px 6px 3px;
}